<html>
    <body>
        <h1>Register Item</h1>

        <form action="/item" method="post">

            <input type="hidden" id="id" name="id" />

            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="put a name" />
            </div>
            <div>
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" placeholder="150.25" />
            </div>
            <div>
                <label for="desc">Description:</label>
                <textarea cols="20" rows="10"  id="desc" name="desc" placeholder="hi, i'm wwwjsw, nice to meet you :D"></textarea>
            </div>

            <input type="submit" value="Save" />
        </form>
    </body>
</html>