<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>list</h1>

        <table>
            <tr>
                <td>ID</td>
                <td>NAME</td>
            </tr>
            <tr for(item in data.items)>
                <td>${item.id}</td>
                <td>${item.name}</td>
            </tr>
        </table>
    </body>
</html>